<a href="https://colab.research.google.com/github/ZeroAlster/HSP_Predictor_Kaggle/blob/main/HouseSalesPrediction_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Kaggle Link : https://www.kaggle.com/sajigera/house-sales-prediction-using-ann

In [27]:
%tensorflow_version 2.x
import tensorflow as tf
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error,mean_squared_error,explained_variance_score
from google.colab import files
import io
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [7]:
uploaded = files.upload()
df2 = pd.read_csv(io.BytesIO(uploaded['kc_house_data.csv']))

Saving kc_house_data.csv to kc_house_data (1).csv

In [9]:
df2.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [11]:
df2.shape

(21613, 21)

In [13]:
df2 = df2.drop('id',axis=1)
df2['date'] = pd.to_datetime(df2['date'])
df2["year"] = df2['date'].apply(lambda date: date.year)
df2["month"] = df2["date"].apply(lambda date: date.month)

In [15]:
df2.head()

        date     price  bedrooms  ...  sqft_lot15  year  month
0 2014-10-13  221900.0         3  ...        5650  2014     10
1 2014-12-09  538000.0         3  ...        7639  2014     12
2 2015-02-25  180000.0         2  ...        8062  2015      2
3 2014-12-09  604000.0         4  ...        5000  2014     12
4 2015-02-18  510000.0         3  ...        7503  2015      2

[5 rows x 22 columns]

In [16]:
df2=df2.drop('date',axis=1)

In [17]:
df2.head()

      price  bedrooms  bathrooms  ...  sqft_lot15  year  month
0  221900.0         3       1.00  ...        5650  2014     10
1  538000.0         3       2.25  ...        7639  2014     12
2  180000.0         2       1.00  ...        8062  2015      2
3  604000.0         4       3.00  ...        5000  2014     12
4  510000.0         3       2.00  ...        7503  2015      2

[5 rows x 21 columns]

In [18]:
df2=df2.drop('zipcode',axis=1)

In [19]:
df2.head()

      price  bedrooms  bathrooms  ...  sqft_lot15  year  month
0  221900.0         3       1.00  ...        5650  2014     10
1  538000.0         3       2.25  ...        7639  2014     12
2  180000.0         2       1.00  ...        8062  2015      2
3  604000.0         4       3.00  ...        5000  2014     12
4  510000.0         3       2.00  ...        7503  2015      2

[5 rows x 20 columns]

In [21]:
x = df2.drop('price',axis=1).values
y = df2["price"].values
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.3, random_state=101)
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [23]:
print("x_train shape : ", x_train.shape)
print("y_train shape : ", y_train.shape)
print("x_test shape : ", x_test.shape)
print("y_test shape : ", y_test.shape)

x_train shape :  (15129, 19)
y_train shape :  (15129,)
x_test shape :  (6484, 19)
y_test shape :  (6484,)

In [38]:
model = Sequential()

model.add(Dense(19,activation='relu'))
model.add(Dense(19,activation='relu'))
model.add(Dense(19,activation='relu'))
model.add(Dense(19,activation='relu'))

model.add(Dense(1))

model.compile(optimizer='adam',loss='mse')

In [39]:
model.fit(x=x_train,y=y_train,epochs=400,validation_data=(x_test,y_test),batch_size=128)

Epoch 1/400
119/119 [==============================] - 1s 3ms/step - loss: 423156683844.2667 - val_loss: 433030496256.0000
Epoch 2/400
119/119 [==============================] - 0s 2ms/step - loss: 426482842828.8000 - val_loss: 430652686336.0000
Epoch 3/400
119/119 [==============================] - 0s 3ms/step - loss: 424081362670.9333 - val_loss: 408969707520.0000
Epoch 4/400
119/119 [==============================] - 0s 2ms/step - loss: 397266339430.4000 - val_loss: 327356284928.0000
Epoch 5/400
119/119 [==============================] - 0s 2ms/step - loss: 293339383534.9333 - val_loss: 184919490560.0000
Epoch 6/400
119/119 [==============================] - 0s 2ms/step - loss: 146912800563.2000 - val_loss: 109868564480.0000
Epoch 7/400
119/119 [==============================] - 0s 3ms/step - loss: 100014097817.6000 - val_loss: 103654187008.0000
Epoch 8/400
 74/119 [=================>............] - ETA: 0s - loss: 95849038931.0270

KeyboardInterrupt: ignored